@model IEnumerable<CoollabTech.Application.ViewModels.TicketViewModel>

@{
    ViewData["Title"] = "Ticket";
}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="home" asp-action="index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="#">Listar Chamados</li>
        </ol>
    </nav>

@await Html.PartialAsync("_Filter.cshtml")
        


<hr />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceProviderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegister)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.ServiceProvider.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRegister)
            </td>
            @*<td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">
                    Editar
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                    Detalhes
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    Excluir
                </a>
            </td>            
        </tr>
        }
    </tbody>
</table>